@use 'variables' as *;

@mixin default-color {
    color: $mainColor;
}

@mixin default-bg-color {
    background-color: $mainColor;
}

@mixin padding-rule {
    padding: 10px 0;
}

@mixin orange-bg {
    background-color: #D48F38;
}